@import url(minireset.css);

:root {
    --dark: #4f424c;
    --whitetext: #F9FAF8;
    --lighttext: #e7e9db;
    --cta: #ef6155;
    --hover: #fec418;
}

* {
    outline: 1px solid red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN LAYOUT ELEMENTS */

body {
    margin: 0 auto;
    text-align: center;
    color: var(--dark);
    background-color: var(--whitetext);
}

section {
    margin: 0 auto;
    padding: 2em .5em;
    }

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }
    
.flex-item {
    padding: 1em 2em;
    }



/* HEADER */

header {
    padding: 0 15px;
    background-color: var(--dark);
    color: var(--whitetext);
}

nav {
    padding-bottom: 40px;
}

ul {
    list-style: none;
}

li {
    padding: 15px;
}

header p {
    font-size: 1.2rem;
}

.container--header {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    align-items: stretch;
    gap: 30px;
    border-top: 1px solid var(--cta);

}
.item--header {
    flex: 1;
}

.img--header {
    background-color: var(--cta);
    background: url(images/main.png);
    background-size: cover;
    min-height: 225px;
}


/* TYPOGRAPHY */

h1, h2, h3, p {
    padding: 20px 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: 60px 0;
}


/* IMAGES */ 

img {
    display: block;
    width: 100%;
    height: auto;
}

nav img {
    width: 75px;
    /* box-shadow: inset 0px 10px 15px 2px rgba(0,0,0,0.1); */
    border-radius: 50%;
}

.container--img {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1800px;
    margin: auto;
}

figure {
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

figcaption {
    padding: 20px;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.5rem;
}



/* QUOTE SECTION */ 

blockquote, cite {
    font-style: italic;
    line-height: 1.8em;
    padding: 1em 2em;
    border-left: 5px solid var(--dark);
  }
  
  em {
      color: var(--cta);
  }
  
  cite {
      display: block;
    font-size: 0.9em;
    text-align: right;
  }

  .quote {
    background-color: var(--lighttext);
    font-size: 1.7rem;
    font-weight: lighter;
    
}

/* LINKS AND BUTTONS */

.cta {
    font-size: 1.5rem;
    background-color: var(--cta);
    color: var(--whitetext);
    
}

a {
    color: var(--whitetext);
    text-decoration: none;
}

a:hover {
    color: var(--cta);
}

a.btn:hover {
    color: var(--whitetext);
    background-color: var(--hover);
}



.btn {
    display: inline-block;
    background-color: var(--cta);
    color: #fff;
    font-weight: bold;
    padding: 0.5em 1em;
    margin: 1em auto;
    border-radius: 5px;

}

.cta .btn {
    border: 1px solid currentColor;
    font-size: 1.5rem;
    padding: 1em 2em;
    margin: 0;

}

/* FOOTER */

footer {
    background-color: var(--dark);
    color: var(--whitetext);
    font-size: 1rem;
    padding: 1.8rem 0;
}

@media screen and (min-width: 768px) {

    header {
        padding: 0 48px;
    }

    .flex-container {
        flex-direction: row;
    }

    .container--header {
        flex-direction: row;
        /* padding: 80px 15px; */
        text-align: left;
        max-width: 1440px;
        margin: 0 auto;
    }

    .flex-item {
        text-align: left;
    }

    .push {
        margin-left: auto;
    }

    figure {
        max-width: 48%;
    }

    section {
        padding: 5em 3em;
        }

}

@media screen and (min-width: 1440px) {

    figure {
        max-width: 24%;
    }

}
